{{ define "main" }}
<!-- Contenu principal - prend toute la largeur restante après le sidebar -->
<main class="flex-1 min-w-0 overflow-y-auto">
  <!-- Article -->
  <article class="w-full ">
    <header class="mb-8">
      <h1 class="hidden lg:block w-full uppercase text-center py-8 lg:py-16 bg-mycolor-700 text-mywhite mb-8">
        {{ .Params.h1 | default .Title }}
      </h1>

    </header>

    <div class="max-w-full mx-auto px-4 pb-8  md:px-12 xl:px-16 2xl:px-24">
      <div class="prose prose-lg dark:prose-invert max-w-none">
        {{ .Content }}
      </div>
      {{ partial "footerTuto.html" . }}
    </div>

  </article>
</main>
{{ end }}