@import "tailwindcss";
@source "hugo_stats.json";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');

@theme {
  --color-mycolor-50:  #F9FAFB;
  --color-mycolor-100: #F3F4F6;
  --color-mycolor-200: #E5E7EB;
  --color-mycolor-300: #D1D5DB;
  --color-mycolor-400: #9CA3AF;
  --color-mycolor-500: #6B7280;
  --color-mycolor-600: #4B5563;
  --color-mycolor-700: #374151;
  --color-mycolor-800: #1F2937;
  --color-mycolor-900: #111827;

  /* --color-mycolor: #f0fdf4; */
  --color-mycolor: #fbfbfb;

  --color-myblack: #111827;
  --color-mywhite: #ffffff;
  --color-myred: #ff2222;

  --font-sans: 'IBM Plex Sans', system-ui, sans-serif;
  --font-mono: 'Source Code Pro', 'JetBrains Mono', monospace;
  }

/* Vos styles de base */
@layer base {
  /* le body */
  body {
    @apply bg-mycolor text-mycolor-700 px-1 md:px-2 font-sans leading-relaxed tracking-wide;
  }

  /* les titres */
  h1 {
    @apply text-2xl  font-semibold py-2 text-center;  
    @apply md:text-3xl md:py-6;    
    @apply lg:text-4xl lg:py-12;   
    @apply xl:text-5xl xl:py-20;   
    @apply 2xl:text-6xl 2xl:py-24;  
  }
  
  h2 {
    @apply text-2xl font-medium pt-3 pb-1.5;
  }
  h3 {
    @apply text-xl font-medium py-1.5;
  }
  h4 {
    @apply text-lg font-medium italic py-1.5;
  }
  /* les puces */
  ul {
    @apply list-inside list-disc;
  }
  ul ul {
    @apply list-inside list-[square] ml-6;
  }
  
  /* les ancres souligner */
  a {
    @apply underline;
    }
  
}

@layer components {
  .highlight pre {
    @apply font-mono text-sm leading-relaxed;
  }

  .highlight code {
    @apply font-mono;
  }

  .page-list {
    @apply list-none max-w-4xl mx-auto px-4 py-8 space-y-8;
  }

  .list-item{
    @apply bg-mycolor-100 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 border border-mycolor-300;
  }
  .summary {
    @apply text-mycolor-600 mb-3 leading-relaxed line-clamp-3;    
  }

}