  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ if .Page.Title}}{{ .Page.Title }}{{else}}{{ .Site.Title}}{{end}}</title>

    <!-- Meta description -->
    {{- $description := .Description | default site.Params.description -}}
    <meta name="description" content="{{ $description }}">

    <!-- Canonical -->
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ site.Params.image | absURL }}">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:image" content="{{ site.Params.image | absURL }}">

    <!-- Stylesheets -->
    {{ with (templates.Defer (dict "key" "global")) }}
        {{ partial "css.html" . }}
    {{ end }}    
   
 